# Visual Studio
.vscode/
.vs/
*.code-workspace
*.suo
*.user
*.userossc
*.sln.docstates

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
build/
build-*/

# Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Windows
*.obj
*.pch
*.pdb
*.idb
*.ipdb
*.iobj
*.ilk
*.log
*.tlog
*.lastbuildstate
*.sbr
*.sbl
*.rsp
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.cache
*.ilk
*.ncb
*.sdf
*.opensdf
*.opendb
*.VC.db
*.VC.VC.opendb

# Compiled Object files
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.a
*.lib
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Precompiled Headers
*.gch
*.pch

# Static Analysis
*.suppress

# Other
*.DS_Store
*.directory
.idea/
*.swp
*.class